@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');


@theme {
  --color-blue-900: hsl(209, 23%, 22%);
  --color-blue-950: hsl(207, 26%, 17%);
  --color-grey-950: hsl(200, 15%, 8%);
  --color-grey-400: hsl(0, 0%, 50%);
  --color-grey-50: hsl(0, 0%, 99%);
  --color-white: hsl(0, 100%, 100%);

  --font-nunito: "Nunito", sans-serif;
}

@layer components {
  .mgx {
    @apply md:max-w-2xl lg:max-w-4xl md:mx-auto xl:max-w-5xl 2xl:max-w-[68rem];
  }
  .size {
    @apply text-xs md:text-sm  capitalize lg:space-y-2  ;
  }
  .space {
    @apply space-y-2 ;
  }

  .filter-size {
    @apply text-xs md:text-sm;
  }
  .icon-size {
    @apply text-xs md:text-sm;
  }
  .wait {
    @apply col-span-3 flex  items-center h-[30rem];
  }
  .wait-design {
    @apply capitalize md:text-base lg:text-lg xl:text-xl 2xl:text-2xl text-center text-sm mx-auto  font-bold text-blue-950  dark:text-white/90;
  }
}
body {
  @apply bg-grey-50 dark:bg-blue-950 ;
}
